#map { height: 940px; }

#filtres {
    background-color: white;
    position: absolute;
    top: 600px;
    left: 20px;
    z-index: 9999;
}

#filtres {
    background-color: white;
    position: absolute;
    top: 700px;
    left: 20px;
    z-index: 9999;
}