#map { height: 940px; }

#filtres {
    background-color: white;
    position: absolute;
    top: 400px;
    left: 20px;
    z-index: 9999;
}

#filtres2 {
    background-color: white;
    position: absolute;
    top: 500px;
    left: 20px;
    z-index: 9999;
}

#filtresAll {
    background-color: white;
    position: absolute;
    top: 600px;
    left: 20px;
    z-index: 9999;
}
