body{
    background-color: #f6e5d1;
    color: #272035;
}

#language {
    position: absolute;
    padding-right: 40px;
    padding-top: 10px;
    top: 0;
    right: 0;
}

h1{
    text-align: center;
    font-size: 35px;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

ul.no-bullets li {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#geoguessr{
    display: flex;
    align-items: center;
    gap: 10px;
}

.top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainContent{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bloc{
    margin-bottom: 25px;
    background-color: #e8ae6d;
    width: 700px;
    border-radius: 5px;
    padding: 10px;
}

.competitionContent{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blocCompetition{
    margin-bottom: 25px;
    background-color: #e8ae6d;
    width: 700px;
    border-radius: 5px;
    padding: 10px;
}

.contentBlocCompetition{
    display: flex;
    gap: 10px;
    align-items: center;
}