html {
	scroll-behavior: smooth;
  scroll-padding-top: 30px;
}

body {
  font-family: "Lexend Deca";
  background-color: #f6e5d1;
  color: #272035;
  margin: 0px;
}

@font-face { font-family: "Lexend Deca"; src: url("../resources/LexendDeca-VariableFont_wght.ttf"); }

header {
  position: sticky;
  background-color: #ffd29b;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

header a {
  height: 36px;
  font-size: 30px;
  color: #272035;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 14px;
  text-decoration: none;
}

header a:hover {
  background: red;
}

main {
  margin: 0 auto 25px;
	width: 100%;
	max-width: 1400px;
}

main nav {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

main nav div {
  background-color: #ffd29b;
  border-radius: 0 0 9px 9px;
}

main nav a {
  height: 18px;
  font-size: 15px;
  color: #272035;
  padding: 6px 9px;
  text-decoration: none;
  display: inline-block;
}

h1 {
  text-align: center;
  font-size: 35px;
}

h2 {
  text-align: center;
  font-size: 28px;
}

h3 {
  text-align: center;
  font-size: 24px;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 25px;
}

@media (max-width: 1000px) {
  section {
    grid-template-columns: auto;
  }
}

article {
  background-color: #e8ae6d;
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
}

article > img {
  max-width: 100%;
  float: left;
}

article h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

article p {
  text-align: justify;
}

div.contact {
  grid-column: 1/-1;
  text-align: center;
}

div.contact a {
  border-radius: 18px;
  padding: 12px 18px;
  font-size: 36px;
  background-color: black;
  color: white;
  text-decoration: none;
}

section.equipes {
  display: flex;
  flex-wrap: wrap;
}

section.equipes article {
  width: 300px;
}

section.equipes article h2 {
  text-transform: uppercase;
  font-size: 20px;
  margin-left: 10px;
}

section.equipes article h2 img {
  width: 50px;
  height: 50px;
}

section.modes article {
  display: grid;
  align-content: center;
  background-color: transparent;
}

footer {
  padding: 20px 0 5px;
  background-color: #ffce97;
  color: #272035;
  font-size: 16px;
}

footer nav {
  display: flex;
  justify-content: center;
  gap: 32px;
}

footer nav ul {
  list-style: none;
  padding: 0;
}

footer h4 {
  margin: 0 0 8px;
}

footer a img {
  margin-right: 5px;
}

footer a {
  text-decoration: none;
  color: #272035;
}

footer a:hover {
  color: #524c5d;
}

footer p {
  text-align: center;
}
