html {
	scroll-behavior: smooth;
}

body{
    font-family: "Lexend Deca";
    background-color: #f6e5d1;
    color: #272035;
    margin: 0px;
}

@font-face { font-family: "Lexend Deca"; src: url("../resources/LexendDeca-VariableFont_wght.ttf"); }

#language {
    position: absolute;
    padding-right: 40px;
    padding-top: 10px;
    top: 0;
    right: 0;
}

.mainTitles {
    background-color: #ffd29b;
    position: fixed;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.mainTitles a {
    font-size: 30px;
    color: #272035;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mainTitles a:hover {
    background: red;
}

h1{
    text-align: center;
    font-size: 35px;
}

#geoguessr{
    display: flex;
    align-items: center;
    gap: 10px;
}

.top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainContent{
    margin-top: 70px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.competitionContent{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.prestationContent{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bloc{
    margin-bottom: 25px;
    background-color: #e8ae6d;
    width: 700px;
    border-radius: 5px;
    padding: 10px;
}

.contentBlocCompetition{
    display: flex;
    gap: 10px;
    align-items: center;
}

footer{
    text-align: center;
    padding: 5px;
    background-color: #ffce97;
    color: #272035;
}

.networks{
    display: flex; 
    justify-content: center;
    gap: 20px;
}

.networks p{
    display: flex;
    align-items:center;
}

.networks img{
    padding-right: 10px;
}